<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p} %d{dd-MM-YYYY HH:mm:ss} [%t]  - %m%n"/>
        </Console>
        <Console name="messages" target="SYSTEM_OUT">
            <PatternLayout pattern=">> %m%n"/>
        </Console>
        <Console name="messages_info" target="SYSTEM_OUT">
            <PatternLayout pattern="----- %m "/>
        </Console>
        <Console name="messages_combination" target="SYSTEM_OUT">
            <PatternLayout pattern=">>> %m%n"/>
        </Console>
        <Console name="messages_error" target="SYSTEM_OUT">
            <PatternLayout pattern="!!!--- %m ---!!!%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.GamePlayStudio.gameMessage" level="TRACE" additivity="false">
            <AppenderRef ref="messages"/>
        </Logger>
        <Logger name="com.GamePlayStudio.gameMessage.MsgInfo" level="INFO" additivity="false">
            <AppenderRef ref="messages_info"/>
        </Logger>
        <Logger name="com.GamePlayStudio.gameMessage.MsgCombination" level="INFO" additivity="false">
            <AppenderRef ref="messages_combination"/>
        </Logger>
        <Logger name="com.GamePlayStudio.gameMessage.MsgError" level="TRACE" additivity="false">
            <AppenderRef ref="messages_error"/>
        </Logger>
        <Logger name="com.GamePlayStudio" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>